.home {
  height: 95vh;
  width: auto;
  background-image: url("https://cdn.pixabay.com/photo/2016/05/21/14/04/food-1406879_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  background-position: center;
}

.title-left {
  color: white;
}
.title-right {
  color: red;
}

.title-container {
  height: 33%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  font-size: 64px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  [class*="title-container"] {
    font-size: xx-large;
  }
}
