.menu {
  height: 95vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.pinimg.com/originals/75/bf/c9/75bfc9fb226505b459ddec1554032822.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 20vw;
  padding-left: 20vw;
  flex-direction: column;
}

.food-list {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 100%;
  color: white;
}

@media only screen and (max-width: 768px) {
  /* For even smaller mobile phones: */

  [class*="menu"] {
    padding-right: unset;
    padding-left: unset;
  }
}
